node_modules/
config/config.json
config/dhparam-2048.pem
config/nginx.conf
uploads/users/*
uploads/organisations/*
truffle/ganache_db/*
.idea/
logs/*
dist/bundle.js
docker-compose.yml
Dockerfile
.postman/
.vscode/
